*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  width: 700px;
  margin: 0 auto;
  background: #f7f7f7;
}
h3{
  margin-top: 1em;

}
ul{
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}
li:hover{
  color:gray;
  cursor: pointer;
  font-size: 16px;
}